<template>
  <div class="container-ex">
    <div class="w-75">
      <h4 class="mt-5">List of Books</h4>
      <div class="d-flex justify-content-between mt-3">
        <button
          class="btn text-light"
          style="background: rgb(10, 55, 61);"
          v-b-modal.add-book
        >
          Add Book
        </button>
        <input
          type="text"
          v-model="search"
          class="form-control w-25"
          placeholder="Search"
        />
      </div>
    </div>

    <table class="table table-hover mt-4 w-75">
      <thead style="background: rgb(10, 55, 61);" class="text-light">
        <th></th>
        <th class="">Name</th>
        <th>Author</th>
        <th class="text-center">Available Copies</th>
        <th class="text-center">Category</th>
      </thead>
      <tbody>
        <tr v-for="book in filteredBooks" :key="book.id">
          <td class="text-center w-25">
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <button
                  class="btn btn-sm text-light w-75 mb-1"
                  style="background: rgb(10, 55, 61);"
                  v-on:click="showEdit(book)"
                >
                  Edit
                </button>
                <button
                  class="btn btn-sm btn-danger text-light w-75"
                  v-on:click="showDelete(book.id)"
                >
                  Delete
                </button>
              </div>
              <div>
                <button
                  class="btn btn-sm text-light w-75 mb-1"
                  style="background: rgb(10, 55, 61);"
                  v-on:click="showBorrow(book.id)"
                >
                  Borrow
                </button>
                <button
                  class="btn btn-sm btn-danger text-light w-75"
                  v-on:click="showReturn(book.id)"
                >
                  Return
                </button>
              </div>
            </div>
          </td>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td class="text-center">{{ book.copies }}</td>
          <td>{{ book.category.category }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Add Book -->
    <b-modal
      id="add-book"
      title="Add Book"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="addBook">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            v-model="data.name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Author</label>
          <input
            type="text"
            v-model="data.author"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Copies</label>
          <input
            type="text"
            v-model="data.copies"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Category</label>
          <select class="form-control" v-model="data.category_id">
            <option disabled :value="0">Please select a category</option>
            <option
              :value="category.id"
              v-for="category in categories"
              :key="category.id"
            >
              {{ category.category }}</option
            >
          </select>
        </div>
        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('add-book')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Add Book
          </button>
        </div>
      </form>
    </b-modal>

    <!-- Update Book -->
    <b-modal
      id="update-book"
      title="Update Book"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="updateBook">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            v-model="data.name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Author</label>
          <input
            type="text"
            v-model="data.author"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Copies</label>
          <input
            type="text"
            v-model="data.copies"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Category</label>
          <select class="form-control" v-model="data.category_id">
            <option disabled>Please select a category</option>
            <option
              :value="category.id"
              v-for="category in categories"
              :key="category.id"
            >
              {{ category.category }}</option
            >
          </select>
        </div>
        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('update-book')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Update Book
          </button>
        </div>
      </form>
    </b-modal>

    <!-- Delete Book -->
    <b-modal
      id="delete-book"
      title="Delete Book"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="deleteBook">
        <div class="form-group mt-5">
          <p class="text-center">
            Are you sure you want to delete this book?
          </p>
        </div>
        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('delete-book')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Delete Book
          </button>
        </div>
      </form>
    </b-modal>

    <!-- Borrow Book -->
    <b-modal
      id="borrow-book"
      title="Borrow Book"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="borrowBook">
        <div class="form-group">
          <label>Name</label>
          <select class="form-control" v-model="book.patron_id">
            <option disabled :value="0">Please select a patron</option>
            <option
              :value="patron.id"
              v-for="patron in patrons"
              :key="patron.id"
            >
              {{ patron | fullName }}</option
            >
          </select>
        </div>

        <div class="form-group">
          <label>Copies</label>
          <input
            type="text"
            v-model="book.copies"
            class="form-control"
            placeholder="Input here"
          />
        </div>

        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('borrow-book')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Borrow Book
          </button>
        </div>
      </form>
    </b-modal>

    <!-- Return Book -->
    <b-modal
      id="return-book"
      title="Return Book"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="returnBook">
        <div class="form-group">
          <label>Name</label>
          <select class="form-control" v-model="book.patron_id">
            <option disabled :value="0">Please select a patron</option>
            <option
              :value="borrowedBook.patron.id"
              v-for="borrowedBook in filteredBorrowedBooks"
              :key="borrowedBook.patron.id"
            >
              {{ borrowedBook.patron | fullName }}
              {{ `Total: ${borrowedBook.copies}` }}</option
            >
          </select>
        </div>

        <div class="form-group">
          <label>Copies</label>
          <input
            type="text"
            v-model="book.copies"
            class="form-control"
            placeholder="Input here"
          />
        </div>

        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('return-book')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Return Book
          </button>
        </div>
      </form>
    </b-modal>
  </div>
</template>

<script>
import toastr from "toastr";
export default {
  async mounted() {
    document.title = "Book Management";
    await this.$store.dispatch("fetchBooks");
    await this.$store.dispatch("fetchCategories");
    await this.$store.dispatch("fetchBorrowedBooks");
    await this.$store.dispatch("fetchReturnedBooks");
    this.$root.$on("bv::modal::hide", () => {
      this.clearData();
    });
  },
  filters: {
    fullName(patron) {
      return `${patron.last_name}, ${patron.first_name} ${patron.middle_name}`;
    },
  },
  data() {
    return {
      search: "",
      data: {
        name: "",
        author: "",
        copies: "",
        category_id: 0,
      },
      id: 0,
      book: {
        book_id: "",
        patron_id: 0,
        copies: "",
      },
    };
  },
  computed: {
    books() {
      return this.$store.getters.getBooks;
    },
    borrowedBooks() {
      return this.$store.getters.getBorrowedBooks;
    },
    filteredBorrowedBooks() {
      return this.borrowedBooks.filter((borrowed) => {
        return borrowed.book_id === this.book.book_id;
      });
    },
    returnedBooks() {
      return this.$store.getters.getReturnedBooks;
    },
    categories() {
      return this.$store.getters.getCategories;
    },
    patrons() {
      return this.$store.getters.getPatrons;
    },
    filteredBooks() {
      return this.books.filter((book) => {
        return (
          book.name.match(this.search) ||
          book.author.match(this.search) ||
          book.category.category.match(this.search)
        );
      });
    },
  },
  methods: {
    showEdit(book) {
      this.$bvModal.show("update-book");
      this.data.name = book.name;
      this.data.author = book.author;
      this.data.copies = book.copies;
      this.data.category_id = book.category.id;
      this.id = book.id;
    },
    showDelete(id) {
      this.$bvModal.show("delete-book");
      this.id = id;
    },
    async showBorrow(id) {
      await this.$store.dispatch("fetchPatrons");
      this.book.book_id = id;
      this.$bvModal.show("borrow-book");
    },
    showReturn(id) {
      this.book.book_id = id;
      this.$bvModal.show("return-book");
    },
    async addBook() {
      //validation
      if (!this.data.name) return toastr.warning("Book name is required");
      if (!this.data.author) return toastr.warning("Book author is required");
      if (!this.data.copies) {
        return toastr.warning("Copies is required");
      } else {
        if (isNaN(this.data.copies))
          return toastr.warning("Copies must numeric");
      }
      if (!this.data.category_id) return toastr.warning("Category is required");

      const response = await this.$store.dispatch("addBook", this.data);

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("add-book");
        await this.$store.dispatch("fetchBooks");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async updateBook() {
      //validation
      if (!this.data.name) return toastr.warning("Book name is required");
      if (!this.data.author) return toastr.warning("Book author is required");
      if (!this.data.copies) {
        return toastr.warning("Copies is required");
      } else {
        if (isNaN(this.data.copies))
          return toastr.warning("Copies must numeric");
      }
      if (!this.data.category_id) return toastr.warning("Category is required");

      const response = await this.$store.dispatch("updateBook", {
        data: this.data,
        id: this.id,
      });

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("update-book");
        await this.$store.dispatch("fetchBooks");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async deleteBook() {
      const response = await this.$store.dispatch("deleteBook", this.id);

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("delete-book");
        await this.$store.dispatch("fetchBooks");
      }
    },
    async borrowBook() {
      if (!this.book.patron_id) return toastr.warning("Patron is required");
      if (!this.book.copies) {
        return toastr.warning("Copies is required");
      } else {
        if (isNaN(this.book.copies))
          return toastr.warning("Copies must numeric");
      }

      const response = await this.$store.dispatch("borrowBook", this.book);

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("borrow-book");
        await this.$store.dispatch("fetchBooks");
        await this.$store.dispatch("fetchBorrowedBooks");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async returnBook() {
      if (!this.book.patron_id) return toastr.warning("Patron is required");
      if (!this.book.copies) {
        return toastr.warning("Copies is required");
      } else {
        if (isNaN(this.book.copies))
          return toastr.warning("Copies must numeric");
      }

      const response = await this.$store.dispatch("returnBook", this.book);

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("return-book");
        await this.$store.dispatch("fetchBooks");
        await this.$store.dispatch("fetchBorrowedBooks");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
      }
    },
    clearData() {
      this.data = {
        name: "",
        author: "",
        copies: "",
        category_id: 0,
      };
      this.id = 0;
      this.book = {
        book_id: "",
        patron_id: "0",
        copies: "",
      };
    },
  },
};
</script>

<style></style>
