<template>
  <div class="container-ex">
    <div class="d-flex justify-content-center align-items-center">
      <Bar :style="chartStyle" />
      <Doughnut :style="chartStyle" />
    </div>
  </div>
</template>

<script>
import Bar from "@/components/charts/Bar";
import Doughnut from "@/components/charts/Doughnut";

export default {
  components: {
    Bar,
    Doughnut
  },
  computed: {
    chartStyle() {
      return {
        position: "block",
        width: `${this.width}px`,
        height: `${this.height}px`,
        margin: "100px 20px 20px 20px"
      };
    },
  },
  data() {
    return {
      height: 350,
      width: 400,
    };
  },
  methods: {},
  mounted() {
    document.title = "Dashboard";
  },
};
</script>

<style></style>
