<template>
  <div class="container-ex">
    <div class="w-75">
      <h4 class="mt-5">List of Patrons</h4>
      <div class="d-flex justify-content-between mt-3">
        <button
          class="btn text-light"
          style="background: rgb(10, 55, 61);"
          v-b-modal.add-patron
        >
          Add Patron
        </button>
        <input
          type="text"
          v-model="search"
          class="form-control w-25"
          placeholder="Search"
        />
      </div>
    </div>

    <table class="table table-hover mt-4 w-75">
      <thead style="background: rgb(10, 55, 61);" class="text-light">
        <th></th>
        <th class="">Name</th>
        <th>Email</th>
        <th class="text-center">Date Registered</th>
      </thead>
      <tbody>
        <tr v-for="patron in filteredPatrons" :key="patron.id">
          <td class="d-flex flex-column text-center">
            <button
              class="btn btn-sm text-light w-75 mb-1"
              style="background: rgb(10, 55, 61);"
              v-on:click="showEdit(patron)"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-danger text-light w-75"
              v-on:click="showDelete(patron.id)"
            >
              Delete
            </button>
          </td>
          <td>{{ patron | fullName }}</td>
          <td>{{ patron.email }}</td>
          <td class="text-center">{{ patron.created_at | registeredDate }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Add Patron -->
    <b-modal
      id="add-patron"
      title="Add Patron"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="addPatron">
        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            v-model="data.first_name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Middle Name</label>
          <input
            type="text"
            v-model="data.middle_name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
            type="text"
            v-model="data.last_name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            v-model="data.email"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('add-patron')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Add Patron
          </button>
        </div>
      </form>
    </b-modal>

    <!-- Update Patron -->
    <b-modal
      id="update-patron"
      title="Update Patron"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="updatePatron">
        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            v-model="data.first_name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Middle Name</label>
          <input
            type="text"
            v-model="data.middle_name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
            type="text"
            v-model="data.last_name"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            v-model="data.email"
            class="form-control"
            placeholder="Input here"
          />
        </div>
        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('update-patron')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Update Patron
          </button>
        </div>
      </form>
    </b-modal>

    <!-- Delete Patron -->
    <b-modal
      id="delete-patron"
      title="Delete Patron"
      header-class="new-modal-header"
      centered
      hide-footer
    >
      <form @submit.prevent="deletePatron">
        <div class="form-group mt-5">
          <p class="text-center">
            Are you sure you want to delete this patron?
          </p>
        </div>
        <div class="block d-flex justify-content-end mt-5 mb-3">
          <button
            v-on:click="$bvModal.hide('delete-patron')"
            class="btn btn-secondary"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn ml-2 text-light"
            style=" background: rgb(10, 55, 61);"
          >
            Delete Patron
          </button>
        </div>
      </form>
    </b-modal>
  </div>
</template>

<script>
import moment from "moment";
import toastr from "toastr";
export default {
  async mounted() {
    document.title = "Patron Management";

    await this.$store.dispatch("fetchPatrons");
    this.$root.$on("bv::modal::hide", () => {
      this.clearData();
    });
  },
  data() {
    return {
      data: {
        first_name: "",
        last_name: "",
        middle_name: "",
        email: "",
      },
      id: "",
      search: "",
    };
  },
  computed: {
    patrons() {
      return this.$store.getters.getPatrons;
    },
    filteredPatrons() {
      return this.patrons.filter((patron) => {
        return (
          patron.last_name.match(this.search) ||
          patron.first_name.match(this.search) ||
          patron.middle_name.match(this.search) ||
          patron.email.match(this.search)
        );
      });
    },
  },
  methods: {
    showEdit(patron) {
      this.$bvModal.show("update-patron");
      this.data.first_name = patron.first_name;
      this.data.middle_name = patron.middle_name;
      this.data.last_name = patron.last_name;
      this.data.email = patron.email;
      this.id = patron.id;
    },
    showDelete(id) {
      this.$bvModal.show("delete-patron");
      this.id = id;
    },
    async addPatron() {
      //validation
      if (!this.data.first_name)
        return toastr.warning("First Name is required");
      if (!this.data.middle_name)
        return toastr.warning("Middle Name is required");
      if (!this.data.last_name) return toastr.warning("Last Name is required");
      if (!this.data.email) {
        return toastr.warning("Email is required");
      } else {
        if (!this.isValidEmail(this.data.email)) {
          return toastr.warning("Email is must be valid");
        }
      }
   	\\hello
      const response = await this.$store.dispatch("addPatron", this.data);

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("add-patron");
        await this.$store.dispatch("fetchPatrons");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async updatePatron() {
      //validation
      if (!this.data.first_name)
        return toastr.warning("First Name is required");
      if (!this.data.middle_name)
        return toastr.warning("Middle Name is required");
      if (!this.data.last_name) return toastr.warning("Last Name is required");
      if (!this.data.email) {
        return toastr.warning("Email is required");
      } else {
        if (!this.isValidEmail(this.data.email)) {
          return toastr.warning("Email is must be valid");
        }
      }

      const response = await this.$store.dispatch("updatePatron", {
        data: this.data,
        id: this.id,
      });

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("update-patron");
        await this.$store.dispatch("fetchPatrons");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
          return;
        }
      }
    },
    async deletePatron() {
      const response = await this.$store.dispatch("deletePatron", this.id);

      if (response.status == 200) {
        toastr.success(response.data.message, "Success");
        this.$bvModal.hide("delete-patron");
        await this.$store.dispatch("fetchPatrons");
      }
    },
    isValidEmail(email) {
      var regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return regex.test(email);
    },
    clearData() {
      this.data = {
        first_name: "",
        last_name: "",
        middle_name: "",
        email: "",
      };
      this.id = "";
    },
  },
  filters: {
    fullName(patron) {
      return `${patron.last_name}, ${patron.first_name} ${patron.middle_name}`;
    },
    registeredDate(date) {
      return moment(date).format("LL");
    },
  },
};
</script>

<style></style>
