body {
	
}

.logoutdesign{
	color:white;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left: 1280px;
	top:8px;

}


.container1{
	width: 	900px;
	height: 	450px;
	margin-left: 7%;
}
.container2{
	width: 	900px;
	height: 	450px;
	margin-left: 1.5%;
}
.tablecontainer{
	top:100px;
	position:absolute;	
	width:900px;
	height:450px;
	left: 75px;
	background-color: rgb(110,248,124);


}

.tablecontainerbook{
	top:100px;
	position:absolute;	
	width:900px;
	height:450px;
	left: 75px;
	background-color: rgb(110,248,124);

}
.table-head{
	background-color: rgb(110,248,124);
}
.table{

}

.modal-header{
	height:50px;
	font-weight:bold;	
	background-color: rgb(110,248,124);
}
.hText{
		color:white;
}
.modal-body{
	
	background-color: rgb(110,248,124);
}
.form1{
}
.form-g{
	padding-top: 5%;

}
.form-input{

	border:none	;
	


}

.btn-design{
	float:right;
	background-color: black;
	color:white;
}

.btnadds{
	background-color: 	transparent;	
	border:none	;
	color:white;
}
.category-input{
	border-radius: 20px;
	border:none;
	width: 215px;
	height: 30px;
	background-color: white;
}
.search-box{
	padding-top: 1%;
	float:right;
	width: 300px;
	height: 50px;
}
