.navbar{
    background-color:   white;
}
.MAGUOL-NA-SIR:hover{
    background: #fda085;
    color:white;
}
.MAGUOL-NA-SIR{
    border: none;
    border-radius: 25px;
    background-color:#00aff0;
    height: 80px;
    width: 350px;
    float:right;

    
    break-after: always;
    margin-right: 525px;
    color:white;
    font-weight: bold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.loogs{
    margin-top: 0px;
    float: left;
    margin-bottom: 20%;
}
.clue{
    float:right;
    margin-top: 0%;

}
.magicitem{
    margin-top: 25%;
    height: 75px;
    background-color: white;

}
.ps{
    float:right;
    padding-right: 15%;
}

.text-right{
    float:left;
    font-size: 15px;
    font-family:verdana;
    font-weight:    bold;   
}
.text-left{
    float:left;
    font-size: 15px;
    font-family:verdana;
    font-weight:    bold;   
}
.container1{

    
    height: 500px;
    background-color: white;
        color:black;

}
.container11{

    
    height: 190px;
    background-color: white;
        color:black;

}
.container20{
      height: 450px;
    background-color: white;
        color:black;
}

.container21{
      height: 450px;
    background-color: white;
        color:black;
}

.container10{

    height: 300px;
    background-color: white;
        color:black;

}

.container13{

    height: 500px;
    background-color: rgb();
        color:black;

}

.text2nd{
    padding-top: 20px;
    padding-bottom: 5px;
    color:black;
}
.text3nd{
    font-weight: bold;
    font-size: 20px;
    float:right;
    padding-right: 18%;
    color:black;
}
.row{
    background-color:white;
    width: 1375px;
    padding: 0%;
    padding-right: 5%;
    margin: 0%;
    font-size: 16px;
    font-weight: bold;

}
body{
    background-repeat: no-repeat;
    background-color: #fda085;;
    font-family: sans-serif;
    min-height: 100vh;
}
.btn1{
    float: right;
    color:white;
    background:rgb(234, 68, 57);
    border:none;
    border-radius: 20px;
    height: 38px;
    width: 100px;
    margin-top: 0%;
    margin-right: 20px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

form button:hover{
    background: #fda085;
    color:white;
    
}
.btn2{
    float: right;
    float: right;
    color:white;
    background:rgb(234, 68, 57);
    border:none;
    border-radius: 20px;
    margin-right: 35px;
    height: 32px;
    
    width: 150px;
    transition: all 0.3s ease;
    font-size: 1rem;    
    transition: all 0.3s ease;
}
.btn3{
    float: right;
    float: right;
    color:rgb(234, 68, 57);
    background:white;
    border:none;
    font-weight: bold;
    
    border-color: black;
    border-radius: 20px;
    margin-right: 35px;
    height: 32px;
    width: 150px;
    transition: all 0.3s ease;
}
.text-title{
    color:green;
}
.p1:hover{
    color:white;
}
.p2:hover{
    color:white;

}
.p3:hover{
    color:white;

}
.p1{
    color:black;
    
    float: left;
    font-size: 20px;
    font-family: sans-serif;
    padding-top:    10px;
    margin-right: 50px;
    font-weight: bold;
}
.p2{
    padding-top:    10px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    float: left;
    font-family: sans-serif;
    margin-top:0%;
    margin-right: 50px;
}
.p3{
    padding-top:    10px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 320px;
    float: left;
    font-family: sans-serif;
    margin-top:0%;
    margin-right: 50px;
}
















