<script>
import { Bar } from "vue-chartjs";

export default {
  data() {
    return {
      data: {
        labels: ["January", "February", "March", "April", "May"],
        datasets: [
          {
            label: "Borrowed",
            data: [50, 80, 30, 20, 60, 90],
            backgroundColor: "#F6D340",
          },
          {
            label: "Returned",
            data: [20, 60, 30, 10, 40, 90],
            backgroundColor: "#F6D365",
          },
        ],
      },
      options: {
        legend: {
          position: "bottom",
        },
      },
    };
  },
  extends: Bar,
  mounted() {
    this.renderChart(this.data, this.options);
  },
};
</script>

<style></style>
