<script>
import { Doughnut } from "vue-chartjs";

export default {
  data() {
    return {
      data: {
        labels: [
          "IT Books",
          "Sinesosyedad",
          "Programming",
          "Math",
          "Discreet Math",
        ],
        datasets: [
          {
            data: [37, 22, 10, 15, 20],
            backgroundColor: [
              "#F6D310",
              "#F36D65",
              "#F36D10",
              "#F10D20",
              "#F20D40",
            ],
          },
        ],
      },
      options: {
        responsive: true,
        legend: {
          position: "bottom",
        },
      },
    };
  },
  extends: Doughnut,
  mounted() {
    this.renderChart(this.data, this.options);
  },
};
</script>

<style></style>
