<template>
  <div id="app">
    <NavBar />
    <SideBar />
    <router-view></router-view>
  </div>
</template>
<script>
import NavBar from "./components/navigation/NavBar";
import SideBar from "./components/navigation/SideBar";
export default {
  components: {
    SideBar,
    NavBar,
  },
};
</script>
