<template>
  <div class="sidebar d-flex align-items-start flex-column">
    <router-link to="/Dashboard" class="text-light nav-link">
      <img
        src="../../assets/images/dashboard.png"
        width="50px"
        height="50px"
        alt=""
        class="mr-3"
      />
      <span class="mr-5">
        Dashboard
      </span>
    </router-link>

    <router-link to="/Patron" class="text-light nav-link">
      <img
        src="../../assets/images/online_girl.png"
        width="50px"
        height="50px"
        alt=""
        class="mr-3"
      />
      <span class="mr-5">
        Patron Management
      </span>
    </router-link>

    <router-link to="/Book" class="text-light nav-link">
      <img
        src="../../assets/images/library_folder_graphite.png"
        width="50px"
        height="50px"
        alt=""
        class="mr-3"
      />
      <span class="mr-5">
        Book Management
      </span>
    </router-link>

    <router-link to="/Settings" class="text-light nav-link">
      <img
        src="../../assets/images/applications_system.png"
        width="50px"
        height="50px"
        alt=""
        class="mr-3"
      />
      <span class="mr-5">
        Settings
      </span>
    </router-link>
  </div>
</template>