.container-ex {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20rem;
  height: 100vh;
  width: calc(100% - 20rem);
  padding-top: 10vh;
  background: white;
}

.sidebar {
  position: fixed;
  margin-top: 60px;
  width: 20rem;
  height: 90vh;
  background: rgb(10, 55, 61);
}

.navbar {
  position: fixed !important;
  width: 100% !important;
  height: 10vh;
  background: rgb(10, 55, 61) !important;
  z-index: 200;

}

button {
  text-decoration: none !important;
}

.new-modal-header,
.new-modal-body {
  color: #fff;
}

.new-modal-header {
  background: rgb(10, 55, 61);
}
.new-modal-body,
.new-modal-footer {
  background: rgb(7, 187, 97);
}

.new-modal-header,
.new-modal-footer {
  border: none !important;
}
